// Colors
$white: #fff;
$black: #111;

$red: #e60023;
$hover-red: #ad081b;

$gray-light: #efefef;
$hover-gray-light: #e2e2e2;

$blue: #0074e8;
$green: #0fa573;
$pine: #0a6955;
$orange: #e3780c;


// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;
